<div class="header-container">
  <div class="side-nav" (click)="showSideNav()">
    <img class="bars-icon" src="assets/Icons/bars.svg" />
  </div>

  <div class="logo-icon-container">
    <div class="brand-logo">
      <img src="assets/Icons/brand-logo.svg" />
    </div>
    <div class="header-icons">
      <img class="icon" src="assets/Icons/questions.svg" />
      <img class="icon" src="assets/Icons/notification.svg" />
      <div class="user-logo">
        <span class="user">U1</span>
      </div>
    </div>
  </div>
</div>
