// $font-family: Heebo;
$font-family: Roboto;
$font-weight: (
  "small": 400,
  "regular": 500,
  "medium": 600,
  "bold": 700,
  "extra-bold": 900,
);

/* COLORS */

$white: #ffffff;
$dark-blue: #002841;
$pepper-red: #df0024;
$purple: #411941;
